@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');


:root{
  --dark: #191919;
  --blue: #2D4263;
  --orange: #C84B31;
  --bland: #ECDBBA;
}


*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
}

form{
  padding-left: 20px;
}

.tasks{
  position: relative;
}

#controls{
 display: grid;
 grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.tasks.checked:after{
  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  background: var(--dark);
  
  content: "";
  width: 100%;
  display: block;
}

.tasks.checked{
  opacity: .3;
  transition: 500ms ease
}

.active-project{
  background-color: var(--blue);
}

.projects li:hover{
  width: fit-content;
  cursor: pointer;
  transition: 900ms ease;
  background-color: gray;
}

.projects li{
  border-radius: 5px;
  width: fit-content;
 margin: .5rem;
}
#header{
    background-color: var(--bland);
    height: 15%;
    display: grid;
    grid-template-columns: 250px 1fr;
}

#header img{
    display: grid;
    place-self: center;
}

#project-title{
    color: var(--da);
    text-align: start;
    font-size: 50px;
    letter-spacing: .25em;
    font-family: 'Rubik Vinyl', cursive;
}

#main-body{
    color: var(--bland);
    display: flex;
    height: 80%;
    background-color: var(--blue);
}

#sidebar{
    box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.75);
    width: 250px;
    background-color: var(--orange);
}

ul, li{
    list-style: none;
}

.navlist{
    font-size: 26px;
    line-height: 2.3em;
}

h2{
  text-indent: 20px;
}

#footer{
  color: var(--bland);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 5%;
    background-color: rgb(95, 94, 94);
}


.tasks.mediump{
  background-color: orange;
}

.tasks.lowp{
  background-color: rgb(12, 219, 91);
}

.tasks.highp{
  background-color: rgb(255, 0, 0);
}

#content{
  display: flex;
  flex-direction: column;
    padding: 50px;
}

.tasks{
  color: var(--dark);
    min-height: 35px;
    margin-bottom: 5px;
    border-radius: 30px;
    width: 50vw;
    font-size: 18px;
    background-color: rgb(66, 255, 255);
    display: grid;
    grid-template-columns: 60px 1fr 100px 160px;
    align-items: center;
}

.deleteTask:hover,
.task-details-btn:hover{
  scale: 1.1;
  filter:invert(1);
  transition: 200ms ease;
  cursor: pointer;
}

.task-details-btn{
  text-align: center;
  border-radius: 10px;
  background-color: var(--bland);
}


/* modal */

.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 350px;
    position: absolute;
    top: 20%;
    left: 40%;
    background-color: var(--blue);
    border: 1px solid #ddd;
    border-radius: 15px;
  }
  
  .modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .task-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.4rem;
    width: 250px;
    padding: 1.3rem;
    min-height: 150px;
    position: absolute;
    top: 40%;
    left: 40%;
    background-color: var(--blue);
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 4;
  }



  
  .modal input {
    padding: 0.7rem 1rem;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 5px;
    font-size: 0.9em;
  }
  
  .modal p {
    font-size: 0.9rem;
    color: #777;
    margin: 0.4rem 0 0.2rem;
  }
  
  button {
    cursor: pointer;
    border: none;
    font-weight: 600;
  }
  
  .btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
  }
  
  .btn-open {
    position: absolute;
    bottom: 150px;
  }
  
  .btn-close {
    padding: 0.5rem 0.8rem;
    background: #eee;
    border-radius: 50%;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }

  .modal {
    z-index: 2;
  }

  .hidden {
    display: none;
  }

  input[type="radio"]{
    /* ...existing styles */
    appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: black;
  width: 40px;
  height: 40px;
  scale: 0.8;
  border: 0.15em solid rgb(61, 61, 61);
  border-radius: 350px;
  transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }
  
  #mediump::before {
    content: "";
    width: .65em;
    height: .65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 150ms transform ease-in-out;
    box-shadow: inset 1em 1em orange;
  }



  #lowp::before {
    content: "";
    width: .65em;
    height: .65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 150ms transform ease-in-out;
    box-shadow: inset 1em 1em rgb(12, 219, 91);
  }

  #highp::before {
    content: "";
    width: .65em;
    height: .65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 150ms transform ease-in-out;
    box-shadow: inset 1em 1em rgb(255, 0, 0);
  }
  
  #mediump:checked::before,
  #lowp:checked::before,
  #highp:checked::before{
    transform: scale(2);
  }

#priority{
    display: flex;
    gap: 50px;
    align-items: center;
}

.radio-buttons{
    display: flex;
    gap: 25px;
}

#task-details{
  font-size: 15px;
  background-color: rgb(66, 66, 66);
  cursor: pointer;
  color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 5px;
}

.bttn {
  background-color: var(--bland);
  padding: 5px;
  border-radius: 25px;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 1rem;
  font-weight: 900;
  
  transition: opacity 250ms ease-in;
}

.bttn:hover {
  opacity: 0.7;
}

.home:hover,
.today:hover,
.week:hover{
  color: #2D4263;
  cursor: pointer;
}
